.bg {
  /* width: auto; */
  background: url(./assets/img/khodam-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
  background-position: center;
}

.body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
}

.flex {
  display: flex;
  flex-direction: column;
  border: 2px #ece5e5 solid;
  border-radius: 10px;
  padding: clamp(45px, 13vw, 70px);
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.title {
  color: #ece5e5;
  font-size: clamp(37px, 8vw, 70px);
  margin-bottom: clamp(20px, 4vw, 40px);
  text-align: center;
}

.nama {
  border: 2px rgb(212, 206, 206) solid;
  border-radius: 6px;
  color: rgb(36, 36, 36);
  font-size: clamp(15px, 4vw, 40px);
  text-align: center;
  margin-bottom: clamp(20px, 3vw, 30px);
}

.show {
  color: #ece5e5;
  font-size: clamp(15px, 4vw, 40px);
  text-align: center;
  margin-bottom: clamp(20px, 3vw, 30px);
  justify-content: center;
}

.flex-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: #449f96; /* Green */
  border: none;
  border-radius: 6px;
  color: white;
  padding: clamp(10px, 3vw, 15px) clamp(20px, 3vw, 32px);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: clamp(8px, 1.5vw, 20px);
  font-weight: 700;
}
